<h2 class="center">Title: <%= @article.title %></h2>

<div class="col-8 offset-2 my-5">
	<div class="card card-body bg-light">
		<div class="row">
			<div class="col-md-4 offset-md-4 my-2">
				<% if @article.user %>
					<ul class="listing center">
						<li>Created by: </li>
						<li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
						<li class="article-title">
							<%= link_to @article.user.username, user_path(@article.user) %>
						</li>
						<li><small><%= pluralize(@article.user.articles.count, "articles") if @article.user.articles %></small></li>
					</ul>
				<% end %>
			</div>
		</div>

		<h4 class="center description"><strong>Description:</strong></h4>
		<hr>
		<%= simple_format(@article.description) %>

		<div class="article-actions">
			<%= link_to "Create new article", new_article_path, class: "btn btn-info btn-sm" %>
			<%= link_to "Edit", edit_article_path, class: "btn btn-primary btn-sm" %>
			<%= link_to "View all articles", articles_path, class: "btn btn-success btn-sm" %>	
			<%= link_to "Delete this article", article_path, 
																				 class: "btn btn-danger btn-sm",
																				 method: :delete, data: {confirm: "Are you sure?"} %>
		</div>

	</div>
</div>